/*-- scss:defaults --*/

// Base document colors

//$navbar-bg: #4266A1;
//$sidebar-bg: white;
//$footer-bg: #4266A1;

// content actions 

.content-block {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .alt-background {
    background-color: rgb(241, 239, 239);
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 15px;
  
  }
  
  // exercise actions 
  
  .hello-exercise {
    padding-bottom: 0rem;
  }
  
  .hello-exercise-banner .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border: none;
    border-bottom: 4px solid #39729E !important;
    color: #39729E;
    background-color: transparent;
  }
  
  .hello-exercise-banner .nav-pills button {
    width: 125px;
  }
  
  .hello-exercise .tab-content {
    border: none;
    padding: 10px;
    color: rgb(84, 85, 85);
  }
  
  .hello-exercise .tab-content p {
    font-size: 1em;
    margin-bottom: .5em;
  }
  
  .hello-exercise div.sourceCode {
    background-color: white;
    border: 1px solid #dee2e6;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff7518;
    border-radius: 0 !important;
  }
  
  // button actions exercises 
  
  .btn-action {
    color: white;
    background-color: #f4b70f !important;
    text-transform: none !important;
  }
  
  .btn-action-smk {
    color: white;
    background-color: #398167 !important;
    text-transform: none !important;
  }
  
  .btn-action-primary:hover {
    color: white;
  }
  
  .btn-action {
    min-width: 165px;
    border-radius: 30px;
    border: none;
  }